.page-header{
    background-color: cadetblue;
}

.page-header ul{
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.page-header .nav-link{
    color: whitesmoke;
}

.page-header .nav-link:hover{
    transition-duration: 300ms;
    color: #454545;
}

.nav-link{
    color: #454545;
}

.jumbotron{
    font-size: large;
}

#content{
    margin-top: 50px;
    min-height: 500px;
}

.input-group-append button{
    background-color: white !important;
}

.input-group-append button:hover{
    transition-duration: 300ms;
    background-color: gray !important;
}

#new_note{
    margin-top: 20px;
}

.list-group-item:hover, .table-item:hover{
    transition-duration: 300ms;
    background-color: gray !important;
    color: whitesmoke !important;
}
.list-group-item:hover .nav-link, .table-item:hover .nav-link{
    color: whitesmoke;
}
#reg_login_link{
    margin-left: -15px;
    margin-top: 15px;
    font-size: 22px;
}
#users_table{
    margin-top: 55px !important;
}

.jumbotron-light{
    background-color: whitesmoke;
}
.bottom{
    position: absolute;
    bottom: 3rem;
}

textarea{
    resize: none;
}

.page-item a{
    color: #454545;
    font-size: 23px;
}
.active a{
    background-color: cadetblue !important;
    border: 1px solid cadetblue !important;
    border-radius: .3rem !important;
}

.list-group-flush-item {
    background-color: #e9ecef !important;
}

.list-group-flush-item:hover{
    background-color: white !important;
    color: inherit !important;
}

#user-info{
    margin-top: 50px;
}

.avatar{
    max-width: 300px;
    max-height: 300px;
}

.navbar-expand-custom .navbar-nav .dropdown-menu, .dropdown {
    position:absolute;
}

#dropDownUser{
    margin-top: -20px;
    margin-left: -150px;
}

.mydropdown{
    background-color: inherit !important;
    color: whitesmoke !important;
    border: 0;
}